<!doctype html>
<html lang="en">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--原始style-->
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: "微軟正黑體";
            color: white;
        }
        li{
            list-style-type:none;
            margin:5px;
        }
        .header {
            position: fixed;
            width: 100%;
            height: 70px;
            background-color: #0b0b0b;
            z-index: 10;
        }

        .header-logo {
            position: absolute;
            top: 10px;
            left: 10px;
            height: 50px;
            width: 180px;
            padding-left: 40px;
            padding-top: 3px;
            font-size: 25px;
            background: #0b0b0b;
        }

        .header-logo-text {
            color: white;
        }

        .header-button {
            position: absolute;
            top: 15px;
            right: 16px;
        }

        #container {
            position: relative;
            top: 70px;
            left: 0; /*將子元素的定位到具體的參照對象*/
            width: 100%;
        }

        .sidebox {
            position: fixed;
            top: 70px;
            left: 0; /*使元素靠左*/
            margin-left: 70px;
            margin-top: 30px;
            background-color: #040404;
            color: white;
        }

        .side-li-home-img {
            list-style-image: url(image/1-mini.jpg);
        }

        .side-li-serach-img {
            list-style-image: url(image/2-mini.jpg);
        }

        .side-li-mymusiclibiary-img {
            list-style-image: url(image/3-mini.jpg);
        }

        .mainbox {
            width: 100%;
            height: calc(100%-70px);
            min-height: 600px;
            border-left: 200px solid #040404; /*設置右邊框寬度為XXXpx像素，同等於sidebox的寬度*/
            background-color: #2b2828;
            margin-bottom: 110px;
        }

        #footer {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: #474747;
            color: white;
        }
        .menuBtn{

        }
    </style>

    <!--播放器style-->
    <style>
        #playerPanel {
            position: relative;
            width: 100%;
            min-width: 1200px;
            height: 110px;
            background: #3c3d41;
        }

        #titlePanel {
            position: absolute;
            left: 100px;
            width: 200px;
            height: 80px;
            margin: 10px;
            background: none;
        }

        img.title {
            width: 80px;
            height: 80px;
            margin: 2px 10px;
        }

        figure {
            position: absolute;
            width: 100px;
            margin: 2px;
            color: white;
        }

        figcaption {
            margin: 1px;
            text-align: center;
        }

        .Description {
            font-size: 12px;
            overflow: hidden;
        }

        #singer {
            color: rgb(199, 194, 194);
            font-style: italic;
            font-size: 10px;
        }

        #btnPanel {
            position: relative;
            top: 3px;
            width: 400px;
            margin: auto;
            text-align: center;
            background: #3c3d41;
        }

        #progressPanel {
            position: relative;
            width: 55%;
            margin: 5px auto;
            text-align: center;
            background: #3c3d41;
        }

        #volumePanel {
            position: absolute;
            right: 0px;
            top: 40px;
            background: #3c3d41;
            width: 160px;
        }

        .sound {
            width: 30px;
            height: 22px;
            filter: invert();
        }

        #volumeBar {
            -webkit-appearance: none;
            border-radius: 50px;
            width: 100px;
            height: 5px;
            outline: none;
        }

            #volumeBar:hover,
            #progress:hover,
            .sound:hover {
                cursor: pointer;
            }

        #progress {
            -webkit-appearance: none;
            border-radius: 50px;
            top: 50px;
            width: 80%;
            height: 5px;
            /*下面這個不關掉的話選取進度條時會出現藍框*/
            outline: none;
            margin: auto;
            transition: 0.2s;
        }

        input::-webkit-slider-thumb {
            -webkit-appearance: none;
            position: relative;
            width: 11px;
            height: 11px;
            background: rgb(201, 201, 201);
            border-radius: 50%;
            transition: 0.2s;
        }

        input::-webkit-slider-runnable-track {
            transition: 0.5s;
        }

        input::-webkit-slider-thumb:hover {
            width: 15px;
            height: 15px;
        }

        .btn:hover {
            background: skyblue;
            cursor: pointer;
        }

        .btn:active {
            background: silver;
        }

        .btn img {
            width: 30px;
            height: 22.5px;
            margin: 10px;
            filter: invert();
        }
    </style>


</head>
<body>
    <div class="header">
        <div class="header-logo">
            <a href="#"><img src="image/1-mini.jpg" alt=""></a>
            <button class="navbar-toggler header-logo-text" type="button">LOGO</button>
        </div>
        <div class="header-button">
            <button type="button">註冊</button>
            <button type="button">登入</button>
        </div>
    </div>
    <div id="container">
        <div class="sidebox">
            <ul>
                <li class="side-li-home-img"><a href="/Homepage/Main">首頁</a></li>
                <li class="side-li-serach-img"><a href="/BasicSerch/BasicSerch">搜尋</a></li>
                <li class="side-li-mymusiclibiary-img">你的音樂庫</li>
                <li class="side-li-twoPlayer"><a href="/TwoPlayer/demoPlayer">雙重播放器測試</a></li>
            </ul>
        </div>

        <div class="mainbox" data-first="@ViewBag.ajax">

            @RenderBody()
        </div>

    </div>

    <div id="footer">
        <div id="playerPanel">

            <!-- 封面與歌名div -->
            <figure>
                <img src="#" class="title">
                <figcaption class="Description title">這裡放專輯名</figcaption>
            </figure>
            <div id="titlePanel">
                <span class="Description">這裡放歌名</span><br>
                <span id="singer">這裡放歌手</span>
            </div>


            <!-- 基本按鍵div -->
            <div id="btnPanel">
                <div id="random" class="btn"><img src="/PlayerImg/random.png"></div>
                <div id="prev" class="btn"><img src="/PlayerImg/prev.png"></div>
                <div id="play" class="btn"><img src="/PlayerImg/play.png"></div>
                <div id="pause" class="btn"><img src="/PlayerImg/pause.png"></div>
                <div id="next" class="btn"><img src="/PlayerImg/next.png"></div>
                <div id="replay" class="btn"><img src="/PlayerImg/replay.png"></div>
            </div>

            <!-- 進度條div -->
            <div id="progressPanel">
                <span id="nowTime">00:00</span>
                <input id="progress" type="range" min="0" max="100" step="0.01" value="0">
                <span id="totalTime">00:00</span>
            </div>

            <!-- 音量條div -->
            <div id="volumePanel">
                <img src="/PlayerImg/sound.png" data-sound="volumeImg" id="volumeImg" class="sound">
                <img src="/PlayerImg/mute.png" data-sound="muteImg" id="muteImg" class="sound">
                <input id="volumeBar" type="range" min="0" max="1" step="0.01" value="0.5">
            </div>

            <!--播放器本體-->
            <audio id="mainPlayer" src="/mp3/‪02 紅魔 「Un-demystified Fantasy」.mp3"></audio>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        var player;
        var playing;
        var totalTime;
        var nowVolume;

        //避免頁面刷新時既有變數被重置或重複給予事件
        if (player == null) {
            player = document.getElementById("mainPlayer");
            playing = false;
            $("#pause").css("display", "none");
            $("#muteImg").css("display", "none");
            player.volume = 0.5;
            $("#volumeBar").css({ "background-image": "-webkit-linear-gradient(left , #5599FF 50%,#fff 0px)" });

            nowVolume = player.volume;

            //初始化播放器內音樂的總長度，並將值傳給進度條
            player.addEventListener("durationchange", function () {
                totalTime = parseInt(player.duration);
                $("#progress").prop("max", totalTime);
                console.log($("#progress").attr("max"));

                let m1 = parseInt(totalTime / 600);
                let m2 = parseInt(totalTime / 60);
                let s1 = parseInt(totalTime % 60 / 10);
                let s2 = parseInt(totalTime % 60 % 10);
                $("#totalTime").text(`${m1}${m2}:${s1}${s2}`);
            });

            //播放器的timer
            player.addEventListener("timeupdate", function () {
                $("#progress").prop("value", player.currentTime);

                let now = player.currentTime;
                let m1 = parseInt(now / 600);
                let m2 = parseInt(now / 60);
                let s1 = parseInt(now % 60 / 10);
                let s2 = parseInt(now % 60 % 10);
                $("#nowTime").text(`${m1}${m2}:${s1}${s2}`);

                //進度條的變化
                let persent = now / totalTime * 100;
                let p = parseInt($("#progress").css("width")) / 100;
                let f = persent * p;
                $("#progress").css({ "background-image": `-webkit-linear-gradient(left , #5599FF ${f}px,#fff 0px)` });
            });

            //音樂播放鍵
            $("#play").click(function () {
                player.play();
                playing = true;
                $("#play").css("display", "none");
                $("#pause").css("display", "inline-block")
            })

            //音樂暫停鍵
            $("#pause").click(function () {
                player.pause();
                playing = false;
                $("#play").css("display", "inline-block");
                $("#pause").css("display", "none")
            })

            //調整音量時能立即更動而不用放開滑鼠
            $("#volumeBar").on('input', function () {
                $(this).trigger("change");
            })
            //音量調節鍵
            $("#volumeBar").on('change', function () {
                player.volume = this.value;
                let v = this.value * 100;
                $("#volumeBar").css({ "background-image": `-webkit-linear-gradient(left , #5599FF ${v}%,#fff 0px)` });
                if (player.volume == 0) {
                    $("#volumeImg").css("display", "none");
                    $("#muteImg").css("display", "inline-block");
                }
                else {
                    $("#volumeImg").css("display", "inline-block");
                    $("#muteImg").css("display", "none");
                }
            });

            //靜音鍵
            $(".sound").click(function () {
                let data = $(this).data("sound");
                switch (data) {
                    case "volumeImg":
                        nowVolume = player.volume;
                        player.volume = 0;
                        $("#volumeBar").prop("value", 0);
                        $("#volumeBar").css({ "background-image": `-webkit-linear-gradient(left , #5599FF ${0}%,#fff 0px)` });
                        $("#volumeImg").css("display", "none");
                        $("#muteImg").css("display", "inline-block");
                        break;

                    case "muteImg":
                        player.volume = nowVolume;
                        $("#volumeBar").prop("value", nowVolume);
                        $("#volumeBar").css({ "background-image": `-webkit-linear-gradient(left , #5599FF ${nowVolume * 100}%,#fff 0px)` });
                        $("#volumeImg").css("display", "inline-block");
                        $("#muteImg").css("display", "none");
                        break;
                }
            });

            //選擇進度條後立刻發動值的change(否則會出現延遲，造成改值失敗)
            $("#progress").on('input', function () {
                player.pause();
                $(this).trigger("change");
            })
            //音樂進度條改變
            $("#progress").change(function () {
                player.currentTime = this.value;
            });
            //拖動進度條直到放開滑鼠才重新開始播放
            $("#progress").mouseup(function () {
                if (playing)
                    player.play();
            });


            ///////////////////
            ///以下為ajax應用///
            ///////////////////


            //為了使用ajax所寫的自定義方法
            function changePage(link) {

                //$(".mainbox").load(link);

                //上下兩者都是ajax，目前產生結果會相同，尚不了解箇中差異
                //link參數為url字串

                //下面的data是ajax方法發動後從對定應的action裡取得的html語法，必須事先寫好
                //$.get(link, function (data) {
                //    $(".mainbox").html(data);
                //})

                //如果有上傳參數到後端則使用$.post的ajax方法
                //不過為了配合重新整理頁面不跑掉的系統，暫時是一律使用$.post來處理所有ajax
                $.post(link, {ajax:true}, function (data) {
                    $(".mainbox").html(data);
                })
            }

            //點連結將主容器切換到新頁面，這個的內容會根據連結的不同有所改變
            $("a").on("click", function (e) {
                let link = $(this).attr("href");
                changePage(link);
                //給予網頁虛擬網址，隨便打都能過，但是最好讓他跟實際變換的網址同名
                history.pushState(null, null, link);
                //因為要將網頁連結變成自定義的切換模式，所以記得取消原本a標籤的超連結功能
                e.preventDefault();
            });

            //每當點選瀏覽器的上一頁下一頁便會發動此事件
            //location.pathname為動作完成後所得到的該頁url
            window.addEventListener('popstate', function (e) {
                changePage(location.pathname);
            })

            //先讀取主頁面(全商品頁面)並填入母版的主容器
            //為了讓初始網址永遠統一為這個才寫的，其實也可以刪掉
            $.post("/Homepage/Main", { ajax: true }, function (data) {
                history.replaceState(null, null, "/Homepage/Main");
                $(".mainbox").html(data);
            })
        }
        
    </script>
</body>
</html>