<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案由您的 Web 專案發佈/封裝處理序使用。您可以藉由編輯此 MSBuild 檔案，
自訂此處理序的行為。若要深入了解，請前往 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://localhost/test</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/test</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="dbProjectMusicStoreEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=.;Initial Catalog=dbProjectMusicStore;Persist Security Info=True;User ID=webuser1;Password=user123My" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MusicPrj.dbProjectMusicStoreEntities, MusicPrj" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MyShopDBEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=.;Initial Catalog=dbProjectMusicStore;Integrated Security=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=MyShopDB;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MyShopDBEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/MyShopMd.csdl|res://*/MyShopMd.ssdl|res://*/MyShopMd.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=MyShopDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MyShopDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/MyShopMd.csdl|res://*/MyShopMd.ssdl|res://*/MyShopMd.msl;provider=System.Data.SqlClient;provider connection string="data source=.;initial catalog=dbProjectMusicStore;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="dbProjectMusicStoreEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/dbMusicStore.csdl|res://*/dbMusicStore.ssdl|res://*/dbMusicStore.msl;provider=System.Data.SqlClient;provider connection string="Data Source=.;Initial Catalog=dbProjectMusicStore;Persist Security Info=True;User ID=webuser1;Password=user123My"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>