
<!doctype html>
<html lang="en">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .header {
            position: fixed;
            width: 100%;
            height: 70px;
            background-color: #0b0b0b;
            z-index: 10;
        }

        .header-logo {
            position: absolute;
            top: 10px;
            left: 10px;
            height: 50px;
            width: 180px;
            padding-left: 40px;
            padding-top: 3px;
            font-size: 25px;
            background: #0b0b0b;
        }

        .header-logo-text {
            color: white;
        }

        .header-button {
            position: absolute;
            top: 15px;
            right: 16px;
        }

        #container {
            position: relative;
            top: 70px;
            left: 0; /*將子元素的定位到具體的參照對象*/
            width: 100%;
        }

        .sidebox {
            position: fixed;
            top: 70;
            left: 0; /*使元素靠左*/
            margin-left: 70px;
            margin-top: 30px;
            background-color: #040404;
            color: white;
        }

        .side-li-home-img {
            list-style-image: url(image/1-mini.jpg);
        }

        .side-li-serach-img {
            list-style-image: url(image/2-mini.jpg);
        }

        .side-li-mymusiclibiary-img {
            list-style-image: url(image/3-mini.jpg);
        }

        .mainbox {
            width: 100%;
            height: calc(100%-70px);
            min-height: 1220px;
            border-left: 200px solid #040404; /*設置右邊框寬度為XXXpx像素，同等於sidebox的寬度*/
            background-color: #121212;
        }

        .albumname {
            width: 200px;
            height: 45px;
            overflow: hidden; /*超出範圍的部分隱藏*/
            text-overflow: ellipsis; /*出現省略號*/
            white-space: nowrap;
        }

        #footer {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 130px;
            background-color: #282828;
            color: white;
        }
                /*舊Player開始*/
        * {
            font-family: "微軟正黑體";
        }

        .originalPanel,
        .demoPanel {
            position: relative;
            width: 600px;/*此行修改過*/
            height: 50px;
            /*background: #5c616e;*//*此行拿掉過*/
            margin: 10px;
            padding: 10px;
        }
        .demoPanel:hover {/*此class新增*/
          background-color: darkgray;
        }

        /*.demoSlider,
        .originalSlider {
            -webkit-appearance: none;
            display: inline-block;
            border-radius: 50px;
            width: 70%;
            height: 5px;
            outline: none;
            margin: 10px;
        }

            .slider-range::-webkit-slider-thumb,
            .demoSlider::-webkit-slider-thumb,
            .originalSlider::-webkit-slider-thumb {
                -webkit-appearance: none;
                position: relative;
                width: 10px;
                height: 10px;
                background: rgb(201, 201, 201);
                border-radius: 50%;
                transition: 0.2s;
            }

                .demoSlider::-webkit-slider-thumb:hover,
                .originalSlider::-webkit-slider-thumb:hover {
                    cursor: pointer;
                    width: 14px;
                    height: 14px;
                }*/

        .demoSlider,
        .originalSlider,
        .vbtn {
            cursor: pointer;
        }

        .vbtn {
            display: inline;
        }

            .vbtn img {
                width: 20px;
                height: 15px;
                filter: invert();
            }

        span {
            color: white;
        }

        .btn {
            margin: 5px;
        }

        /*p {
            font-size: 12px;
            font-style: italic;
            color: gray;
            margin: 5px;
        }

        .slider {
            margin: 20px;
            width: 500px;
        }*/
                /*舊Player結束*/
        /*新Player開始*/
        #playerPanel {
            position: relative;
            width: 100%;
            min-width: 1200px;
            height: 130px;
            background: #5c616e;
        }

        #titlePanel {
            position: absolute;
            left: 100px;
            width: 200px;
            height: 100px;
            margin: 10px;
            background: none;
        }

        img.title {
            width: 90px;
            height: 90px;
            margin: 5px 5px 0px 5px;
        }

        figure {
            position: absolute;
            width: 100px;
            margin: 5px;
            color: white;
        }

        figcaption {
            margin: 5px;
            text-align: center;
        }

        .Description {
            font-size: 12px;
            overflow: hidden;
        }

        #singer {
            color: rgb(199, 194, 194);
            font-style: italic;
            font-size: 10px;
        }

        #btnPanel {
            position: relative;
            top: 10px;
            width: 50%;
            margin: auto;
            text-align: center;
            background: #5c616e;
            ;
        }

        #progressPanel {
            position: relative;
            width: 60%;
            margin: 20px auto;
            text-align: center;
            background: #5c616e;
        }

        #volumePanel {
            position: absolute;
            right: 0px;
            top: 50px;
            background: #5c616e;
            width: 160px;
        }

        .sound {
            width: 30px;
            height: 22px;
            filter: invert();
        }

        #volumeBar {
            -webkit-appearance: none;
            border-radius: 50px;
            width: 100px;
            height: 5px;
            outline: none;
        }

            #volumeBar:hover,
            #progress:hover,
            .sound:hover {
                cursor: pointer;
            }

        #progress {
            -webkit-appearance: none;
            border-radius: 50px;
            top: 50px;
            width: 80%;
            height: 5px;
            /*下面這個不關掉的話選取進度條時會出現藍框*/
            outline: none;
            margin: auto;
            transition: 0.2s;
        }

        input::-webkit-slider-thumb {
            -webkit-appearance: none;
            position: relative;
            width: 11px;
            height: 11px;
            background: rgb(201, 201, 201);
            border-radius: 50%;
            transition: 0.2s;
        }

        input::-webkit-slider-runnable-track {
            transition: 0.5s;
        }

        input::-webkit-slider-thumb:hover {
            width: 15px;
            height: 15px;
        }

        .btn:hover {
            background: skyblue;
            cursor: pointer;
        }

        .btn:active {
            background: silver;
        }

        .btn img {
            width: 40px;
            height: 30px;
            margin: 10px;
            filter: invert();
        }
        /*新Player結束*/
        /*商品box開始*/
        .productitem {
            float: left;
            color: white;
            margin-left: 10px;
            margin-bottom: 0.5%;
        }

            .productitem:hover {
                background-color: darkgray;
            }

        .productitemhy:link {
            color: white;
            text-decoration: none;
            font-family: 微軟正黑體;
        }

        .productitemhy:visited {
            color: white;
        }

        .headtitle {
            color: white;
            margin-left: 20px;
            font-family: 微軟正黑體;
        }
        /*商品box結束*/
        /*albuminfo開始*/
                /*專輯圖/介紹開始*/
        .albumset {
            display: inline-block;
            margin-left: 120px;
            margin-top: 30px;
            width:20%;
        }
        /*專輯圖/介紹*/
        /*單曲列表開始*/
        .albumtext {
            text-align: center;
            color: white;
            width: 97%;
            font-family: 微軟正黑體;
        }
                /*單曲列表結束*/
        /*albuminfo結束*/
        /*MyAlbumList開始*/
                /*摺疊樣式開始*/
        .fold-title {
            background-color: #f3f3f3;
            padding: 10px;
            cursor: pointer;
            color: #525252;
            margin-bottom: 0;
        }

        .fold {
            display: none;
            line-height: 17pt;
        }

        .fold-container {
            padding: 10px 10px 10px 30px;
            border: solid #f3f3f3 2px;
        }
        /*摺疊樣式結束*/
        /*MyAlbumList結束*/
    </style>
</head>
<body>
    <div class="header">
        <div class="header-logo">
            <a href="#"><img src="image/1-mini.jpg" alt=""></a>
            <button class="navbar-toggler header-logo-text" type="button">LOGO</button>
        </div>
        <div class="header-button">
            <button type="button">註冊</button>
            <button type="button">登入</button>
        </div>
    </div>
    <div id="container">
        @RenderBody()
    </div>
    <div id="footer">

        <!-- 播放器介面div -->
        <div id="playerPanel">

            <!-- 封面與歌名div -->
            <figure>
                <img src="" alt="" class="titleimg">
                <figcaption class="Description title"></figcaption>
            </figure>
            <div id="titlePanel">
                <span id="Descriptiontwo" class="Description"></span><br>
                <span id="singer"></span>
            </div>


            <!-- 基本按鍵div -->
            <div id="btnPanel">
                <div id="random" class="btn"><img src="~/Content/random.png"></div>
                <div id="prev" class="btn"><img src="~/Content/prev.png"></div>
                <div id="play" class="btn"><img src="~/Content/play.png"></div>
                <div id="pause" class="btn"><img src="~/Content/pause.png"></div>
                <div id="next" class="btn"><img src="~/Content/next.png"></div>
                <div id="replay" class="btn"><img src="~/Content/replay.png"></div>
            </div>

            <!-- 進度條div -->
            <div id="progressPanel">
                <span id="nowTime">00:00</span>
                <input id="progress" class="demoSlider" type="range" min="0" max="100" step="0.01" value="0">
                <span id="totalTime">00:00</span>
            </div>

            <!-- 音量條div -->
            <div id="volumePanel">
                <img src="~/Content/sound.png" data-sound="volumeImg" id="volumeImg" class="sound">
                <img src="~/Content/mute.png" data-sound="muteImg" id="muteImg" class="sound">
                <input id="volumeBar" type="range" min="0" max="1" step="0.01" value="0.5">
            </div>

            <!--播放器本體-->
            @*<audio id="player" src="mp3/‪02 紅魔 「Un-demystified Fantasy」.mp3"></audio>*@
            <audio class="originalAudio"></audio>
            <audio id="player" class="demoAudio"></audio>
        </div>


    </div>
    <script>

        //撥放器開始
        //這兩個是最終會存回資料庫的試聽開頭與結尾的秒數，浮點數類型
        var demoStart;
        var demoEnd;

        //新增
        var m_soid;
        var m_singer;
        var m_song;
        //****
        var oplaying = false;
        var dplaying = false;
        var fileName;

        $(".opause").css("display", "none");
        $(".dpause").css("display", "none");
        var music = $(".originalAudio")[0];
        music.volume = 0.6;
        var demoMusic = $(".demoAudio")[0];
        demoMusic.volume = 0.6;

        //讀取檔案，一次只能讀取一個
        //$("#upload").on("change", function () {
        //    let file = document.getElementById("upload").files[0];
        //    if (file.type != "audio/mp3") {
        //        file = null;
        //    }

        //    let reader = new FileReader();
        //    reader.readAsDataURL(file);
        //    reader.onload = function (e) {
        //        music.src = e.target.result;
        //        demoMusic.src = e.target.result;
        //    }
        //});

        //讀取音樂時會進行初始化
        $(".demoAudio").on("durationchange", function () { //originalAudio換成demoAudio
            //   let totalTime = parseInt(music.duration);
            let totalTime = demoEnd - demoStart; //為與新player變數一致將demoTotal換成totalTime
            //$(".originalSlider").prop("max", totalTime);
            //       $(".demoSlider").prop("max",totalTime);
            $(".demoSlider").prop("max", totalTime);
            //$(".totalTime").text(getTimeText(totalTime));
            //         $(".totalDemo").text(getTimeText(totalTime));
            // $(".totalDemo").text(getTimeText(totalTime));//網頁已預設載入,不再刷新

            //*新撥放器加入
            //$("#progress").prop("max", totalTime); //與function setEnd()作相同事情故移除
            //let m1 = parseInt(totalTime / 600);
            //let m2 = parseInt(totalTime / 60);
            //let s1 = parseInt(totalTime % 60 / 10);
            //let s2 = parseInt(totalTime % 60 % 10);
            //$("#totalTime").text(`${m1}${m2}:${s1}${s2}`);


            //同時初始化滑動條
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: `${music.duration}`,
                step: 0.01,
                values: [0, music.duration],
                slide: function () {
                    demoStart = $("#slider-range").slider("values", 0)
                    setStart();
                    demoEnd = $("#slider-range").slider("values", 1)
                    setEnd();
                }
            });
            $(".start").val(demoStart);
            $(".end").val(demoEnd);
            setStart();
            setEnd();
        });

        //播放器的timer
        $(".originalAudio").on("timeupdate", function () {
            $(".originalSlider").prop("value", music.currentTime);
            let now = parseInt(music.currentTime);
            $(".nowTime").text(getTimeText(now));
        });
        $(".demoAudio").on("timeupdate", function () {

            //新撥放器新增開始
            //$("#progress").prop("value", demoAudio.currentTime);
            let now = parseInt(demoMusic.currentTime);//player-->demoaudio修改
            let m1 = parseInt(now / 600);
            let m2 = parseInt(now / 60);
            let s1 = parseInt(now % 60 / 10);
            let s2 = parseInt(now % 60 % 10);
            $("#nowTime").text(`${m1}${m2}:${s1}${s2}`);
            //進度條的變化
            let persent = now / totalTime * 100;
            let p = parseInt($("#progress").css("width")) / 100;
            let f = persent * p;
            console.log(f);
            $("#progress").css({ "background-image": `-webkit-linear-gradient(left , #5599FF ${f}px,#fff 0px)` });
            //新撥放器新增結束

            $(".demoSlider").prop("value", demoMusic.currentTime);
            // let now = parseInt(demoMusic.currentTime);//變數名稱與上面新撥放器now相衝
            //  $(".nowDemo").text(getTimeText(now));//現在播放時間移除
            if (demoMusic.currentTime > $(".demoSlider").attr("max")) {
                demoMusic.pause();
                dplaying = false;
                $(".dplay").css("display", "inline");
                $(".dpause").css("display", "none")
                demoMusic.currentTime = demoStart;
            }
            //試聽淡入效果(因為設定上淡入三秒淡出四秒，所以要是試聽時間在七秒內會出現音量bug)
            if (demoMusic.currentTime < demoStart + 3) {
                demoMusic.volume = (demoMusic.currentTime - demoStart) * 0.2;
            }
            //試聽淡出效果
            else if (demoMusic.currentTime + 4 > demoEnd) {
                demoMusic.volume = (demoEnd - demoMusic.currentTime) * 0.1;
            }
            else {
                demoMusic.volume = 0.6;
            }
        });

        //音樂播放暫停鍵
        $(".vbtn").on("click", function () {
            console.log($(this).prop("class"));
            //if ($(this).prop("className") == "vbtn oplay") {
            //    music.play();
            //    demoMusic.pause();
            //    oplaying = true;
            //    dplaying = false;
            //    $(".oplay").css("display", "none");
            //    $(".opause").css("display", "inline")
            //    $(".dplay").css("display", "inline")
            //    $(".dpause").css("display", "none")
            //}
            if ($(this).prop("class") == "vbtn dplay") {
                //載入音樂參數
                music.src = $(this).data('playurl');
                demoMusic.src = $(this).data('playurl');
                demoStart = $(this).data('start');
                demoEnd = $(this).data('end');
                m_soid = $(this).data('soid');
                m_singer = $(this).data('singer');
                m_song = $(this).data('songn');
                $("#Descriptiontwo").text(m_song);
                $("#singer").text(m_singer);
                //載入音樂連結
                demoMusic.play();
                //    music.pause();

                dplaying = true;
                //oplaying = false;
                $(".dplay").css("display", "inline");
                $(".dpause").css("display", "none");
                $(this).css("display", "none");
                $(this).next(".dpause").css("display", "inline");
                $("#play").css("display", "none");
                $("#pause").css("display", "inline-block")
            }
            //else if ($(this).prop("class") == "vbtn opause") {
            //    music.pause();
            //    oplaying = false;
            //    $(".oplay").css("display", "inline");
            //    $(".opause").css("display", "none")
            //}
            else if ($(this).prop("class") == "vbtn dpause") {
                demoMusic.pause();
                dplaying = false;
                $(".dplay").css("display", "inline");
                $(".dpause").css("display", "none");
                $(this).css("display", "none");
                $(this).next(".dplay").css("display", "inline");
                $("#play").css("display", "inline-block");
                $("#pause").css("display", "none")
            }
        })

        //選擇進度條後立刻發動值的change(否則會出現延遲，造成改值失敗)
        $(".originalSlider").on('input', function () {
            music.pause();
            $(this).trigger("change");
        })
        $(".demoSlider").on('input', function () {
            demoMusic.pause();
            $(this).trigger("change");
        })
        //音樂進度條改變
        $(".originalSlider").on("change", function () {
            music.currentTime = this.value;
        });
        $(".demoSlider").on("change", function () {
            demoMusic.currentTime = this.value;
        });
        //拖動進度條直到放開滑鼠才重新開始播放
        $(".originalSlider").on("mouseup", function () {
            if (oplaying)
                music.play();
        });
        $(".demoSlider").on("mouseup", function () {
            if (dplaying)
                demoMusic.play();
        });

        //製作試聽用
        //按鍵設置試聽開頭與結尾
        $(".setStart").on("click", function () {
            demoStart = music.currentTime;
            setStart();
        });
        $(".setEnd").on("click", function () {
            demoEnd = music.currentTime;
            setEnd();
        });

        //取得音樂時間文字的方法(第二個有給到小數後兩位)
        function getTimeText(num) {
            let m1 = parseInt(num / 600);
            let m2 = parseInt(num / 60 % 10);
            let s1 = parseInt(num % 60 / 10);
            let s2 = parseInt(num % 60 % 10);
            return `${m1}${m2}:${s1}${s2}`;
        }
        function getTimeText2(num) {
            let m1 = parseInt(num / 600);
            let m2 = parseInt(num / 60 % 10);
            let s1 = parseInt(num % 60 / 10);
            let s2 = (num % 60 % 10).toFixed(2);
            return `${m1}${m2}:${s1}${s2}`;
        }

        //設定範圍初始值與結尾值的方法
        function setStart() {
            $(".start").val(demoStart);
            if (demoStart > demoMusic.currentTime) {
                demoMusic.currentTime = demoStart;
                $(".demoSlider").attr("value", `${demoStart}`);
                /*$("#progress").attr("value", `${demoStart}`);*/ //新加入新撥放器控制,已用.demoSlider去控制不重複加
            }
            $(".demoSlider").attr("min", `${demoStart}`);
            /*  $("#progress").attr("min", `${demoStart}`);*/ //新加入新撥放器控制,已用.demoSlider去控制不重複加

        }
        function setEnd() {
            $(".end").val(demoEnd);
            /* $(".totalDemo").text(getTimeText(demoEnd));*///網頁已預設載入,不再刷新
            $("#totalTime").text(getTimeText(demoEnd));
            if (demoEnd < demoMusic.currentTime) {
                demoMusic.currentTime = demoEnd;
                $(".demoSlider").attr("value", `${demoEnd}`);
                /*  $("#progress").attr("value", `${demoEnd}`);*///新加入新撥放器控制,已用.demoSlider去控制不重複加
            }
            $(".demoSlider").attr("max", `${demoEnd}`);
            /*   $("#progress").attr("max", `${demoEnd}`);*///新加入新撥放器控制,已用.demoSlider去控制不重複加
        }
        //撥放器結束
        //新撥放器開始
        var playing = false;
        var nowVolume = demoMusic.volume; //player-->demoaudio修改
        $("#pause").css("display", "none");
        $("#muteImg").css("display", "none");
        $("#volumeBar").css({ "background-image": "-webkit-linear-gradient(left , #5599FF 0%,#fff 0px)" });
        $("#play").click(function () {
            demoMusic.play();//player-->demoaudio修改
            playing = true;
            $("#play").css("display", "none");
            $("#pause").css("display", "inline-block")
        })
        //音樂暫停鍵
        $("#pause").click(function () {
            demoMusic.pause();//player-->demoaudio修改
            playing = false;
            $("#play").css("display", "inline-block");
            $("#pause").css("display", "none")
        })

        //調整音量時能立即更動而不用放開滑鼠
        $("#volumeBar").on('input', function () {
            $(this).trigger("change");
        })
        //音量調節鍵
        $("#volumeBar").change(function () {
            demoMusic.volume = this.value;
            let v = this.value * 100;
            $("#volumeBar").css({ "background-image": `-webkit-linear-gradient(left , #5599FF ${v}%,#fff 0px)` });
            if (demoMusic.volume == 0) {
                $("#volumeImg").css("display", "none");
                $("#muteImg").css("display", "inline-block");
            }
            else {
                $("#volumeImg").css("display", "inline-block");
                $("#muteImg").css("display", "none");
            }
        });

        //靜音鍵
        $(".sound").click(function () {
            let data = $(this).data("sound");
            switch (data) {
                case "volumeImg":
                    nowVolume = demoMusic.volume;
                    demoMusic.volume = 0;
                    $("#volumeBar").prop("value", 0);
                    $("#volumeBar").css({ "background-image": `-webkit-linear-gradient(left , #5599FF ${0}%,#fff 0px)` });
                    $("#volumeImg").css("display", "none");
                    $("#muteImg").css("display", "inline-block");
                    break;

                case "muteImg":
                    demoMusic.volume = nowVolume;
                    $("#volumeBar").prop("value", nowVolume);
                    $("#volumeBar").css({ "background-image": `-webkit-linear-gradient(left , #5599FF ${nowVolume * 100}%,#fff 0px)` });
                    $("#volumeImg").css("display", "inline-block");
                    $("#muteImg").css("display", "none");
                    break;
            }
        });

        //選擇進度條後立刻發動值的change(否則會出現延遲，造成改值失敗)
        $("#progress").on('input', function () {
            demoMusic.pause();//player-->demoaudio修改
            $(this).trigger("change");
        })
        //音樂進度條改變
        $("#progress").change(function () {
            demoMusic.currentTime = this.value;//player-->demoaudio修改
        });
        //拖動進度條直到放開滑鼠才重新開始播放
        $("#progress").mouseup(function () {
            if (playing)
                demoMusic.play();//player-->demoaudio修改
        });
                $(function () {
            $('h3').click(function () {
                if ($(this).next('.fold').hasClass('o') == true) {
                    $(this).find('i.fa').removeClass('fa-chevron-down').addClass('fa-chevron-right');
                    $(this).next('.fold').removeClass('o').slideUp();
                }
                else {
                    $(this).find('i.fa').removeClass('fa-chevron-right').addClass('fa-chevron-down');
                    $(this).next('.fold').addClass('o').slideDown();
                }
            });
        });

    </script>
    <!-- Optional JavaScript -->
</body>
</html>