@model IEnumerable<MusicPrj.tAlbum>

@{
    int count = 0;
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="sidebox">
        <ul>
            <li class="side-li-home-img">首頁</li>
            <li class="side-li-serach-img">搜尋</li>
            <li class="side-li-mymusiclibiary-img">你的音樂庫</li>
            <li class="side-li-mymusiclibiary-img">@Html.ActionLink("我的發行", "MyAlbumList", new { account = "aaa" }, new { @class = "side-li-mymusiclibiary-img" })</li>
            <li class="side-li-mymusiclibiary-img">我是頁籤</li>
        </ul>
    </div>
    <div class="mainbox">

        <div style="padding-left:50px">
            <h1 class="headtitle">所有專輯</h1>
            <table>
                <tr>
                    @*此處<tr>為自動依瀏覽器大小換欄*@
                    @foreach (var item in Model)
                    {
                        count++;
                        if (count % 7 == 1)
                        {
                            //      @:<tr>
                        }
                        <td class="productitem">
                            <a href="~/Album/AlbumDetail?amid=@Html.DisplayFor(modelItem => item.fAlbumID)" class="productitemhy">
                                <fieldset style="border:1px solid;height:300px;border-radius:5px;padding:5px;">
                                    <table>
                                        <tr><td><img src="~/CoverFiles/@Html.DisplayFor(modelItem => item.fCoverPath)" width="200" height="200" /></td></tr>
                                        <tr>
                                            <td>
                                                <div class="albumname" title="@Html.DisplayFor(modelItem => item.fAlbumName)">@Html.DisplayFor(modelItem => item.fAlbumName)</div>
                                            </td>
                                        </tr>
                                        <tr><td>@Html.DisplayFor(modelItem => item.fMaker)</td></tr>
                                    </table>
                                </fieldset>

                            </a>
                        </td>
                        if (count % 7 == 0)
                        {
                            //     @:</tr>
                        }
                    }
                </tr>
            </table>
        </div>
    </div>

